.banner_container_block{
    margin-bottom: 48px;

    @media (max-width: 768px) {
        margin-bottom: 32px;
    }
}

.banner_text_block{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
}

.banner_title{
    font-size: 64px;
    font-weight: 700;
    color: #FFF;
    
    @media (max-width: 768px) {
        font-size: 48px;
    }
}

.banner_subTitle{
    font-size: 28px;
    font-weight: 700;
    color: #FFF;
    
    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.banner_button{
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
}
