@use './variables' as v;

.header_block{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0px;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
    
}

.logo_block{
    order: 1;
    width: 15%;
    cursor: pointer;

    @media (max-width: 768px) {
        width: 50%;
    }
}

.button_block{
    order: 2;
    width: 60%;

    @media (max-width: 768px) {
        order: 3;
        width: 100%;
    }
}

.user_button_block{
    order: 3;
    padding: 12px 12px;

    @media (max-width: 768px) {
        order: 2;
    }
}

.user_button{
    padding: 12px 12px;
    border: 0px;
    background: transparent;
    cursor: pointer;
}