@use './variables' as v;

.saleslist_block{
    background: #E8FEC5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    margin-top: 48px;

    @media (max-width: 768px) {
        margin-top: 24px;
    }
}

.saleslist_text{
    font-size: 20px;
    font-weight: 700;
    margin-right: 24px;

    @media (max-width: 768px) {
        margin-right: 16px;
    }
}

.saleslist_button{
    background: black;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;

    @media (max-width: 768px) {
        padding: 8px 16px;
    }
}