$background_isTouchDivce: 'https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner-sm.png';
$background_default: 'https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner.png';

$primary_default: #C0FA73;
$primary_subtle: #E8FEC5;
$primary_border: #F5FEE7; 