@use './reset';
@use './ui/header';
@use './ui/button';
@use './ui/footer';
@use './ui/saleslist';
@use './home/home';
@use './home/banner';
@use './home/newproduct';
@use './home/bestsellinglist';
@use './home/adbanner';
@use './home/shoplist';
@use './home/outfitgallery';
@use './productdetail/productdetail';
@use './productdetail/productimg';
@use './ui/productcategorylist';