@use './reset';
@use './ui/header';
@use './ui/button';
@use './ui/footer';
@use './ui/saleslist';
@use './ui/productcategorylist';
@use './home/home';
@use './home/banner';
@use './home/newproduct';
@use './home/bestsellinglist';
@use './home/adbanner';
@use './home/shoplist';
@use './home/outfitgallery';
@use './productdetail/productdetail';
@use './productdetail/productimg';
@use './productdetail/productdescription';
@use './productdetail/productoptions';
@use './productdetail/productsizeoptions';
@use './productdetail/productbutton';
@use './productdetail/productInformation';
@use './productdetail/productrecommendlist';
@use './product/product';
@use './product/menulist';