@use '../variables' as v;
.banner_block{
    background-image: url(#{v.$background_default});
    background-size: cover;
    background-position: center;
    padding-top: 56.25%;
    position: relative;

    @media (max-width: 768px) {
        background-image: url(#{v.$background_isTouchDivce});
        padding-top: 100%;
    }
}