.shoplist_block{
    padding: 64px;
    @media (max-width: 768px) {
        padding: 40px 12px;
    }
}

.shoplist_title_block{
    margin-bottom: 16px;
}

.shoplist_title{
    font-size: 32px;
    font-weight: 700;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.shoplist_card_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.shoplist_card{
    position: relative;
    width: 23%;

    @media (max-width: 768px) {
        width: 48%;
        margin-bottom: 12px;
    }
}   

.shoplist_card_image{
    width: 20%;
}

.shoplist_card_mask{
    position: absolute;
    inset: 0; 
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.shoplist_cart_title_block{
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shoplist_card_en_title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #FFF;
    text-align: center;

    &:hover {
        color: #C0FA73; // 滑鼠移上去文字變綠色
    }

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.shoplist_card_cn_title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color:#FFF;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}