.pagination_block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_button_block{
  margin: 0px 12px 0px 12px;
}

.pagination_button{
    padding: 8px 15px;
    margin: 8px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.pagination_button:focus{
    background-color: #C0FA73;
    border: 0px;
    cursor: pointer;
}