.product_container_block{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 89%;
    margin: 0 auto;

    @media (max-width: 768px) {
        display: grid;
        justify-content: space-between;
        align-items: center;
    }
}

.product_text_block{
    width: 50%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.product_subtitle{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}