.product_information{
    margin-top: 12px;
}
.product_information_block{
    padding: 12px 0px;
    border-bottom: 1px solid #DEE2E6;
}

.product_information_title{
    margin: 12px 0px 4px 0px;
    font-size: 16px;
    font-weight: 500;
}

.product_information_text_block{
    display: grid;
    justify-content: start;
    align-items: center;
}

.product_information_text{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 24px;
    color: #6C757D;
}